.AnimePage {
  width: 100%;
  max-width: 100%;
  max-height: max-content;
  height: 100%;
  height: max-content;
  gap: 1vh;
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 0;
  top: 0;
  min-height: 100vh;
  align-items: center;
  font-family: "Inter";
}

.about {
  margin-top: 2vh;
  width: 90%;
  height: 30vh;
  display: flex;
  justify-content: flex-start;
  max-height: 30vh;
  min-height: 30vh;
}

.img-banner {
  height: 40vh;
  width: 18vw;
  margin-left: 1vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #32353c;
}

.txt-area {
  width: 80vw;
  height: 100%;
  background-color: #32353c;
  height: max-content;
  padding-bottom: 1vh;
  margin-left: 1vh;
  max-height: 28vh;
  min-height: 28vh;
}

.ep-wrapper {
  width: 72vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1vh;
  margin-left: 17vw;
  /* margin-top: 13vh; */
  position: relative;
  top: 1vh;
}

h3 {
  width: 100%;
  color: #08b7ff;
  margin-left: 1vh;
  text-align: left;
}
p {
  color: white;
  margin-left: 1vh;
  margin-right: 1vh;
  word-wrap: break-word;
}
label {
  margin-left: 1vh;
  color: white;
  word-wrap: break-word;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.actions span {
  color: #08b7ff;
  margin-right: 2vh;
  cursor: pointer;
  font-size: 2vw;
}

#title {
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .AnimePage {
    justify-content: flex-start;
  }

  h3 {
    font-size: 1.3vh;
  }
  .about {
    width: 100%;
    margin-left: 0;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40vh;
  }
  .about div {
    width: 50vw;
  }
  p {
    font-size: 1vh;
  }

  .desc {
    height: 16vh;
    overflow: scroll;
  }
  label {
    font-size: 1vh;
    text-indent: 1vh;
    padding: 0;
  }
  .img-banner {
    position: relative;
    bottom: 0;
    height: 30vh;
    width: 100vw;
    height: 28vh;
    background-size: cover;
  }

  .txt-area {
    height: 26vh;
    padding-bottom: 0vh;
  }

  .actions {
    display: none;
  }

  .ep-wrapper {
    width: 100%;
    padding-left: 4vh;
    flex-wrap: wrap;
    /* justify-content: center; */
    flex-direction: row;
    height: max-content;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: 33vh;
    padding-bottom: 5vw;
    gap: 0.5vh;
  }
}
