.header-wrapper {
  width: 99%;
  height: 4vw;

  display: flex;

  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

span {
  cursor: pointer;
}

.search-wrapper {
  width: max-content;
  height: 3vw;
  margin-left: 1vw;
  display: flex;

  align-items: center;
}
.search-wrapper input {
  height: 2vw;
  width: 30vw;
  background-color: #32353c;
  border: 1px solid #1e78ff;
  color: white;
  font-family: "Inter";
  text-indent: 1vw;
}
.search-wrapper input:focus {
  outline: none;
  border-color: #1e78ff;
}

.header-wrapper span {
  background-color: #1e78ff;
  height: 2.2vw;
  width: 2.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-wrapper {
  width: max-content;
  height: 3vw;
  margin-left: 1vw;
  display: flex;
  gap: 1vh;
  align-items: center;
  margin-right: 1.2vw;
}

@media only screen and (max-width: 600px) {
  .header-wrapper {
    height: 5vh;
    justify-content: center;
    margin-top: 1vh;
  }

  .search-wrapper input {
    width: 58vw;
    height: 3.9vh;
  }
  .header-wrapper span {
    height: 4.4vh;
    width: 4.4vh;
  }
}
