.card {
  /* width: 13vw;
  height: 30vh;
  min-height: 30vh; */
  width: 13vw;
  height: 30vh;
  min-height: 30vh;
  background-color: #32353c;
  font-family: "Inter";
  display: flex;
  align-items: flex-end;
  background-size: cover;

  cursor: pointer;
}
h4 {
  background-color: rgba(30, 120, 255, 0.3);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  width: 100%;
  min-height: 3vw;
  height: 3vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 45vw;
    min-height: 30vh;
  }
  h4 {
    height: 7vh;
    font-size: 1.5vh;
  }
}
